/* FONTS  */
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Medium.woff2") format("woff2"),
        url("../fonts/Manrope-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.woff2") format("woff2"),
        url("../fonts/Manrope-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
        url("../fonts/Manrope-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* CUSTOM PROPRS  */
:root {
    --text-color: #000;
    --text-color-50: rgba(0, 0, 0, 0.5);
    --orange: #d87d4a;
    --bg-color: #f1f1f1;
    --white: #fff;
    --white-50: rgba(255, 255, 255, 0.5);
}


/* GLOBAL  */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px dashed var(--orange);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Manrope", "Arial", sans-serif;
    font-size: 15px;
    line-height: 25px;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* AUTOFILL-STYLES  */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* PLACEHOLDER-STYLES  */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
} */


/* VISUALLY-HIDDEN  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* BUTTON  */
.button {
    padding: 15px 30px;
    background-color: var(--orange);
    color: var(--white);
    border: 2px solid transparent;
}

.button--orange {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
    transition: background-color 0.4s ease,
        color 0.4s ease, border-color 0.4s ease;
}

.button--orange:hover {
    background-color: var(--white);
    color: var(--orange);
    border-color: var(--orange);
}

.button--orange:active {
    background-color: var(--orange);
    color: var(--white);
    opacity: 0.8;
}


/* CONTAINER  */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT  */
.main-content {
    flex-grow: 1;
}


/* SITE-HEADER  */
.site-header {
    background-color: var(--text-color);
    color: var(--white);
}


/* HEADER-TOP  */
.header-top {
    padding-top: 35px;
    padding-bottom: 35px;
}

.header-top__container {
    display: flex;
    align-items: center;
}

.header-top__logo {
    display: flex;
    align-items: start;
    margin-right: 30px;
}

.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 139px;
    height: 20px;
    object-fit: contain;
}

.sitenav {
    margin-left: auto;
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 34px;
}

.sitenav__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white);
    text-transform: uppercase;
}

.sitenav__link:hover {
    color: var(--orange);
}

.header-top__img {
    display: block;
    width: 23px;
    height: 20px;
    object-fit: contain;
    color: var(--white);
}

.header-top__img:hover {
    color: var(--orange);
}

hr {
    border: 0;
    border: 1px solid rgb(255, 255, 255, 0.2);
}


/* HEADER-BOTTOM  */
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 98px;
    padding-bottom: 98px;
}

.header-bottom__heading {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--white);
}


/* SECTION  */
.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section__container {
    display: flex;
    align-items: center;
}

.section__wrapper {
    padding: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 540px;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.section__wrapper-margin-right {
    margin-right: 125px;
}

.section__wrapper-margin-left {
    width: 295px;
    height: 385px;
    margin-left: 125px;
}

.section__wrapper-img {
    width: 349px;
    height: 386px;
}

.section__content {
    width: 100%;
    max-width: 545px;
}

.section__content-info {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--orange);
}

.section__content-title {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
    text-transform: uppercase;
    color: var(--text-color);
}

.section__content-text {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 500;
    color: var(--text-color-50);
}


/* FEATURES  */
.features__container {
    padding-top: 160px;
    padding-bottom: 80px;
}

.features__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    min-height: 205px;
    background-color: #f1f1f1;
}

.features__item:not(:last-child) {
    margin-right: 30px;
}

.features__img {
    position: absolute;
    top: -50%;
    width: 135px;
    height: 165px;
}

.features__img-earphones {
    position: absolute;
    top: -30%;
}

.features__title {
    margin-top: 36px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: var(--text-color);
}

.features-wrapper {
    padding-bottom: 30px;
    display: flex;
    align-items: center
}

.features-wrapper__text {
    margin: 0;
    margin-right: 13px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-color-50);
}

.features-wrapper__arrow {
    color: var(--orange);
}


/* SITE-FOOTER  */
.site-footer {
    padding-top: 75px;
    padding-bottom: 50px;
    background-color: var(--text-color);
}

.site-footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.footer-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 540px;
    margin-right: 25px;
}

.footer-top__logo {
    display: flex;
    align-self: start;
}

.logo__img {
    margin-top: 0;
}

.footer-top__text {
    font-weight: 500;
    padding-top: 35px;
    margin-top: 0;
    margin-bottom: 36px;
    color: var(--white-50);
}

.footer-top__info {
    margin: 0;
    font-weight: 700;
    color: var(--white-50);
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: auto;
}

.footer-bottom__sitenav {
    margin-bottom: 110px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapper__link {
    display: flex;
}

.wrapper__link:not(:last-child) {
    margin-right: 16px;
}

.wrapper__icon {
    color: var(--white);
}

.wrapper__icon:hover {
    color: var(--orange);
}
































@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}